* {
    font-family: Courier;
}

.header{
    width: 800px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
}

.container {
    width: 800px;
    height: 450px;
    border: 10px solid #74736c;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* * * * * * * * CSS form Sliding images * * * * * * * * */

.visibleImgIn{
    display: inline-block;
    width: auto;
    height: auto;
    animation-name: slide-in;
    animation-duration: 1000ms;
}

.visibleImgOut{
    display: inline-block;
    width: auto;
    height: auto;
    animation-name: slide-out;
    animation-duration: 1000ms;
}

.hiddenImg{
    display: none;
}


/* * * * * * * * CSS form Arrows * * * * * * * * */


.arrow {
    position: absolute;
    top: 200px;
    width: 35px;
    height: 45px;
    font-size: 1.5rem;
    border: 1px solid #c40000;
    border-radius: 5px;
    opacity: 0.25;
    color: #9d0000;
}

#rightArrow {
    position: relative;
    float: right;
}

.arrow:hover {
    cursor: pointer;
    opacity: 0.5;
}



/* * * * * * * * Keyframes for Sliding images * * * * * * * * */



@keyframes slide-in {
    0%      { transform: translateX(100%);  }
    100%    { transform: translateX(0%);    }
}


@keyframes slide-out {
    0%      { transform: translateX(0%);    }
    100%    { transform: translateX(-100%); }
}