* {
    font-family: Courier;
}

.header{
    width: 800px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
}

.container {
    width: 800px;
    height: 450px;
    border: 10px solid #74736c;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* * * * * * * * CSS form Sliding images * * * * * * * * */

.slideIN-RtoL{
    display: inline-block;
    width: auto;
    height: auto;
    animation-name: slideIN-RtoL;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

.slideOut-RtoL{
    display: inline-block;
    width: auto;
    height: auto;
    animation-name: slideOut-RtoL;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    z-index: 3;
}


/*or use "animation-direction: reverse"*/

.slideIN-LtoR {
    display: inline-block;
    width: auto;
    height: auto;
    animation-name: slideIN-LtoR;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    z-index: 5;
}


.slideOut-LtoR {
    display: inline-block;
    width: auto;
    height: auto;
    animation-name: slideOut-LtoR;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    z-index: 3;
}

.hiddenImg{
    display: none;
}

/* * * * * * * * CSS form Arrows * * * * * * * * */

.arrow {
    position: absolute;
    top: 200px;
    width: 35px;
    height: 45px;
    font-size: 1.5rem;
    border: 1px solid #c40000;
    border-radius: 5px;
    opacity: 0.25;
    color: #9d0000;
    z-index: 10;
}

#rightArrow {
    position: relative;
    float: right;
}

.arrow:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* * * * * * * * CSS form Arrows * * * * * * * * */


.dots {
    height: 5vh;
    padding-top: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #58bbad;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #1c4b3b;
}


/* * * * * * * * Keyframes for Sliding images * * * * * * * * */

@keyframes slideIN-RtoL {
    0%      { transform: translateX(100%);  }
    100%    { transform: translateX(0%);    }
}

@keyframes slideOut-RtoL {
    0%      { transform: translateX(0%);    }
    100%    { transform: translateX(-100%); }
}

@keyframes slideOut-LtoR {
    0%      { transform: translateX(0%);    }
    100%    { transform: translateX(100%);  }
}

@keyframes slideIN-LtoR {
    0%      { transform: translateX(-100%); }
    100%    { transform: translateX(0%);    }
}

/* * * * * * * * media queries * * * * * * * * */

@media screen and (max-width: 850px) {

    .header{
        width: 90vw;
        height: 11.25vw;
        font-size: 1rem;
    }

    .container {
        width: 90vw;
        height: 50vw;
    }
}

